<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebFood_2</title>
	<link href="~/css/admin.css" rel="stylesheet" />
	<link href="~/css/shared.css" rel="stylesheet" />
	<link href="~/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<script src="~/js/bootstrap.bundle.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/bootstrap.esm.js"></script>
	<script src="~/js/bootstrap.esm.min.js"></script>
	<script src="~/js/bootstrap.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/app.js"></script>
	
</head>
<body>
	<style>
		body {
			font-family: 'b koodak bold_0',sans-serif
		}</style>
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand">
					<img src="~/images/logo(main).png" style="width:40px;height:40px;"/>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">خانه</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Cart" asp-action="ShowCart">سبد خرید</a>
						</li>

						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link">سلام </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Account" asp-action="Logout">خروج</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link" asp-controller="Account" asp-action="Register">ثبت نام</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Account" asp-action="Login">ورود</a>
							</li>
						}

					</ul>




				</div>
			</div>

		</nav>
	</header>
	<main>


		<div class="col-12 container">
			@RenderBody()
		</div>

	</main>
	<footer>
	</footer>

</body>
@RenderSection("Scripts", false)
</html>
